@model NumiNumsApp.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row-bg-home">
    <div class="" style="text-align: center">
        <h2>Delivery Menu This Week</h2>
    </div>
    <hr />
    <div id="update-message" style="margin-left:84%; color:lightcoral">
        <p style="color:green">@TempData["Message"]</p>
    </div>
    <div class="col-md-12">
        <table class="table-home" style="text-align:center">
            @foreach (var item in Model.Products)
            {
                if (item.ProductVType.Name == "Main")
                {
                    <tr>
                        <td class="col-md-10">
                            <h3>
                                @Html.DisplayFor(modelItem => item.Name)
                                @*@Html.DisplayFor(modelItem => item.Price)*@
                                @String.Format("{0:c}", item.Price)
                            </h3>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                        <td style="        margin-top: 5vh
">
                            @Html.ActionLink("Add To Cart", "AddToCart", new { id = item.ProductId }, new { @class = "btn btn-default button-align" })
                        </td>
                    </tr>
                }
            }

        </table>
        <table class="table-home" style="text-align:center">
            @foreach (var item in Model.Products)
            {
                if (item.ProductVType.Name == "Dessert")
                {
                    <tr>
                        @*<td style="width:6vw">
                                <img src="@Url.Content(item.ImagePath)" alt="Image" class="img-thumb" />
                            </td>*@
                        <td class="col-md-10">
                            <h3>
                                @Html.DisplayFor(modelItem => item.Name)
                                @*@Html.DisplayFor(modelItem => item.Price)*@
                                @String.Format("{0:c}", item.Price)
                            </h3>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td style="margin-top:2vh">
                            @Html.ActionLink("Add To Cart", "AddToCart", new { id = item.ProductId }, new { @class = "btn btn-default button-align" })
                        </td>
                    </tr>

                }
            }

        </table>
        <table class="table-home" style="text-align:center">
            <h3 class="col-md-10" style="text-align:center">Whole Earth Drinks £2.00</h3>
            @foreach (var item in Model.Products)
            {
                if (item.ProductVType.Name == "Whole Earth Drink")
                {
                    <tr>
                        @*<td style="width:6vw">
                                <img src="@Url.Content(item.ImagePath)" alt="Image" class="img-thumb" />
                            </td>*@
                        <td class="col-md-10">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.ActionLink("Add To Cart", "AddToCart", new { id = item.ProductId }, new { @class = "btn btn-default button-align-drinks" })
                        </td>
                    </tr>
                }
            }
        </table>
        <table class="table-home" style="text-align:center">
            @foreach (var item in Model.Products)
            {
                if (item.ProductVType.Name == "Meal Deal")
                {
                    <tr>
                        <td class="col-md-10">
                            <h3>
                                @Html.DisplayFor(modelItem => item.Name)
                                @*@Html.DisplayFor(modelItem => item.Price)*@
                                @String.Format("{0:c}", item.Price)
                            </h3>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td style="margin-top:2vh">
                            @Html.ActionLink("Add To Cart", "AddToCart", new { id = item.ProductId }, new { @class = "btn btn-default button-align" })
                        </td>
                    </tr>
                }
            }
        </table>
        <hr />
    </div>
</div>

<div class="col-md-12">
    <h1>Your order</h1>
</div>
<div id="update-message">
</div>
<div class="col-md-8">
    <table class="table-home">
        <tr>
            <th>
                Items
            </th>
            <th>
                Quantity
            </th>
        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr id="row-@item.RecordId">
                <td class="col-md-8">
                    @item.ProductName
                </td>
                <td id="item-count-@item.RecordId">
                    @item.Count
                </td>
                <td style="margin-top:2vh">
                    <a href="#" class="RemoveLink btn btn-default"
                       data-id="@item.RecordId">
                        Remove
                        from cart
                    </a>
                </td>
            </tr>
        }
        <tr>
            <th>
                Total
            </th>
            <th id="cart-total">
                @Model.CartTotal
            </th>
        </tr>
    </table>
    <p class="btn btn-default">
        @Html.ActionLink("Checkout>> ", "OrderForm", "OrderForm")
    </p>
</div>

<script src="/Scripts/jquery-1.4.4.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/Home/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    });
</script>
