@model NumiNumsApp.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>Welcome to NumiNums Deliveries</h1>
</div>


<div class="row">
    <div class="col-md-8">
        <table class="table-home" style="text-align:center">
            @foreach (var item in Model.Products)
            {
                if (item.ProductVType.Name == "Main")
                {
                    <tr>
                        @*<td style="width:6vw">
                        <img src="@Url.Content(item.ImagePath)" alt="Image" class="img-thumb" />
                    </td>*@
                        <td class="col-md-10">
                            <h3>
                                @Html.DisplayFor(modelItem => item.Name)
                                @*@Html.DisplayFor(modelItem => item.Price)*@
                                @String.Format("{0:c}", item.Price)
                            </h3>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                        <td class="btn btn-default button-align" style="margin-top:5vh">
                            @Html.ActionLink("Add To Cart", "AddToCart", new { id = item.ProductId })
                        </td>
                    </tr>
                }
            }

        </table>
        <table class="table-home" style="text-align:center">
            @foreach (var item in Model.Products)
            {
                if (item.ProductVType.Name == "Dessert")
                {
                    <tr>
                        @*<td style="width:6vw">
                        <img src="@Url.Content(item.ImagePath)" alt="Image" class="img-thumb" />
                    </td>*@
                        <td class="col-md-10">
                            <h3>
                                @Html.DisplayFor(modelItem => item.Name)
                                @*@Html.DisplayFor(modelItem => item.Price)*@
                                @String.Format("{0:c}", item.Price)
                            </h3>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="btn btn-default button-align" style="margin-top:2vh">
                            @Html.ActionLink("Add To Cart", "AddToCart", new { id = item.ProductId })
                        </td>
                    </tr>

                }
            }

        </table>
        <table class="table-home" style="text-align:center">
            <h3 class="col-md-10" style="text-align:center">Whole Earth Drinks £2.00</h3>
            @foreach (var item in Model.Products)
            {
                if (item.ProductVType.Name == "Whole Earth Drink")
                {
                    <tr>
                        @*<td style="width:6vw">
                        <img src="@Url.Content(item.ImagePath)" alt="Image" class="img-thumb" />
                    </td>*@
                        <td class="col-md-10">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td class="btn btn-default button-align" style="margin-top:0vh">
                            @Html.ActionLink("Add To Cart", "AddToCart", new { id = item.ProductId })
                        </td>
                    </tr>
                }
            }
        </table>
        <table class="table-home" style="text-align:center">
            @foreach (var item in Model.Products)
            {
                if (item.ProductVType.Name == "Meal Deal")
                {
                    <tr>
                        <td class="col-md-10">
                            <h3>
                                @Html.DisplayFor(modelItem => item.Name)
                                @*@Html.DisplayFor(modelItem => item.Price)*@
                                @String.Format("{0:c}", item.Price)
                            </h3>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="btn btn-default button-align" style="margin-top:2vh">
                            @Html.ActionLink("Add To Cart", "AddToCart", new { id = item.ProductId })
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="col-md-4">
        <div class="col-md-12">
            <h1>Your order</h1>
        </div>
        <div id="update-message">
        </div>
        <table class="table-home">
            <tr>
                <th>
                    Item
                </th>
                <th>
                    Quantity
                </th>
                <th>

                </th>
            </tr>
       @foreach (var item in Model.CartItems)
       {
        <tr id="row-@item.RecordId">
            <td class="col-md-8">
                @item.ProductName
            </td>
            <td id="item-count-@item.RecordId">
                @item.Count
            </td>
            <td class="btn btn-default">
                <a href="#" class="RemoveLink"
                   data-id="@item.RecordId">
                    Remove
                    from cart
                </a>
            </td>
        </tr>
        }
            <tr>
                <td>
                    Total
                </td>
                <td id="cart-total">
                    @Model.CartTotal
                </td>
            </tr>
        </table>
        <p class="btn btn-default ">
            @Html.ActionLink("Checkout>> ", "OrderForm", "OrderForm")
        </p>
        <script src="/Scripts/jquery-1.4.4.min.js"
                type="text/javascript"></script>
        <script type="text/javascript">
            $(function () {
                // Document.ready -> link up remove event handler
                $(".RemoveLink").click(function () {
                    // Get the id from the link
                    var recordToDelete = $(this).attr("data-id");
                    if (recordToDelete != '') {
                        // Perform the ajax post
                        $.post("/Home/RemoveFromCart", { "id": recordToDelete },
                            function (data) {
                                // Successful requests get here
                                // Update the page elements
                                if (data.ItemCount == 0) {
                                    $('#row-' + data.DeleteId).fadeOut('slow');
                                } else {
                                    $('#item-count-' + data.DeleteId).text(data.ItemCount);
                                }
                                $('#cart-total').text(data.CartTotal);
                                $('#update-message').text(data.Message);
                                $('#cart-status').text('Cart (' + data.CartCount + ')');
                            });
                    }
                });
            });
        </script>
    </div>
</div>